<section class="ae-container-fluid ae-container-fluid--full rk-main">
  <div class="item-inside__meta">
    <h1 class="ae-u-bolder rk-portfolio-title">Tecnologías utlizadas</h1>
    <p class="ae-theta rk-portfolio-category">Este es un proyecto realizado con fines de estudio</p>
    <h4 class="ae-u-bolder rk-portfolio-title">Autor: Javier Estévez</h4>    
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h4 class="ae-u-bolder">
          Angular<sup class="ae-mi"> versión 13</sup>
        </h4>
        <p>
          Se usaron componentes a fin de dividir la pagina en piezas de código reutilizables.
        </p>
        <p>
          Este sitio web es una SPA (Single Page Application) y por lo tanto hace
          uso de rutas ejecutadas desde el menú de navegación.
          Se utilizan interfaces, servicios para reemplazar información en la página web.
          También se hace uso de animaciones css utilizando parte de la librería animate.css
        </p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1">
        <img src="assets/img/angular-logo.png" alt="Angular Logo" />
      </div>
    </div>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-6">
        <img src="assets/img/firebase-logo.png" alt="Firebase Logo" />
      </div>
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1 item-lg--offset-1">
        <h4 class="ae-u-bolder">
          Firebase
        </h4>
        <p>
          Utilizo Firebase para crear la base de datos y luego cargarla desde la página.
        </p>        
      </div>
    </div>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-7 au-lg-ptp-1">
        <h4 class="ae-u-bolder">
          HTML5 | CSS3
        </h4>
        <p>
          Tecnologías fundamentales para dar estructura a la página y posterior aspecto visual.
        </p>
      </div>
      <div class="ae-grid__item item-lg-4 item-lg--offset-1">
        <img src="assets/img/html-css-logo.png" alt="HTML5 & CSS3 Logo" />
      </div>
    </div>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-8">
        <img src="assets/img/node-js.png" alt="Node.js Logo" />
      </div>
      <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
        <h4 class="ae-u-bolder">
          Node.js
        </h4>
        <p>
          En este sitio utilizo Node.js para descargar paquetes de mapas de ciudades mediante el NPM (Node Package Manager)
        </p>
        <p>
          Dichos mapas son utlizados en las sucursales obteniendo coordenadas de longitud y latitud desde la base de datos.
        </p>
      </div>
    </div>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-7 au-lg-ptp-1">
        <h4 class="ae-u-bolder">
          Typescript
        </h4>
        <p>
          Uso de Typescript como lenguaje de programación de Angular que luego es transpilado a Javascript.
        </p>
      </div>
      <div class="ae-grid__item item-lg-4 item-lg--offset-1">
        <img src="assets/img/typescript-logo.png" alt="Typescript Logo" />
      </div>
    </div>

  </div>
</section>
