<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">Sobre nuestra Empresa</h4>
    <p>
      BBB pone a disposición de sus clientes productos de primera calidad.
      Nos caracterizamos por tener prendas modernas y de estilo formal e informal.
    </p>
  </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Quiénes Somos?</h6>
    <p class="au-lh-3">
    Somos una empresa familiar que nació de una idea de ofrecer productos de excelente calidad a un precio asequible.
    </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Misión</h6>
    <p class="au-lh-3">
      Ofrecer las prendas de vestimenta que son vanguardia en el mundo y atender a nuestros clientes de la mejor
      forma posible.
    </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Visión</h6>
    <p class="au-lh-3">
        Posicionarnos en el mercado como la marca lider en vestimenta a precios muy accesibles.
    </p>    
  </div>
</div>

