<app-loading *ngIf="_servicio.loading"></app-loading>

<div class="ae-grid au-xs-ta-center au-mb-4">    
    <div *ngFor="let sucursal of _servicio.sucursales; let i=index;" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img src="assets/img/{{ sucursal.url }}.jpg" [alt]="sucursal.nombre" class="animated fadeIn au-mb-3">        
        <h5 class="ae-u-bolder au-mt-2">{{ sucursal.nombre }}</h5>
        <p class="ae-u-bolder au-mb-3">{{ sucursal.direccion }}</p>        
        <!-- Colocar mapa -->                
        <app-map [indice]="i"></app-map>                  
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ sucursal.horario }}</p> 
        <a target="_blank" href="https://twitter/{{ sucursal.twitter }}" class="ae-u-bolder au-underline">
            @{{ sucursal.twitter }}
        </a>
    </div>
    <div *ngFor="let sucursal of _servicio.sucursales; let i=index;">
        <app-map [indice]="i" [longitud]="sucursal.longitud" [latitud]="sucursal.latitud"></app-map>
    </div>
</div>